<section>

        <div class="list__box" *ngFor="let todo of todoBaseList">
            
            <div class="list__conteiner">
                 
                <div class="list__conteiner-right">
                    <md-checkbox  [checked]="todo.getComplete" (click)="toggleTodoComplete(todo)"> </md-checkbox>
                    <h3 *ngIf="todo.getComplete" [class.list__todo-done] = "todoDone" > {{todo.getTitle}}</h3> 
                    <h3 *ngIf="!todo.getComplete"> {{todo.getTitle}}</h3> 
                </div>

                <div class="list__conteiner-left">
                    <span class="list__date">{{todo.getDate}}</span>  
                    <button md-mini-fab  (click)="deleteTodo (todo.getId)"><md-icon class="list__icon">delete_forever</md-icon></button>
                </div>

            </div>
           
            <div class="list__description-conteiner" *ngIf="todo.getDescription !== ''">
                <h6 class = "list__description" (click)="showFader = !showFader">
                    Description
                </h6>
                <div class="list__description-text" *ngIf="!todo.getComplete" >
                     {{todo.getDescription}}
                </div>
            </div>
        </div>
</section>