<section>


    
        <div *ngFor="let todo of todoBaseList">
           
            
                <div class="list__conteiner">


     
    <div class="list__conteiner-right">
         <md-checkbox class="example-margin"></md-checkbox>
         <h3> {{todo.getTitle}}</h3> 
    </div>

    <div class="list__conteiner-left">
        <span>{{todo.getDate}}</span>  
        <button md-mini-fab  (click)="deleteTodo (todo.getId)"><md-icon class="list__icon">delete_forever</md-icon></button>
    </div>
                       
            </div>
        </div>
    </section>