.list__box {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #d9cbf4;
    
}

.list__conteiner {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.list__conteiner-right {
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.list__conteiner-right h3 {
    font-family: "Roboto","Helvetica Neue",sans-serif;
    margin-left:5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.list__conteiner-left{
    height: 40px;
    display: flex;
    align-items: center;
}

.list__conteiner-left span {
    font-size: 12px;
    padding-right: 10px;
}

.list__conteiner-left button {
    background-color: red;
    height: 30px;
    width: 30px;
    
}

.list__icon{
    color: white;
    font-size: 16px;
    padding: 0px !important;  
    line-height: 0px !important;
}

.list__description-conteiner {
position: relative;
bottom: 10px;
    background-color: white;

}

.list__description{
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #673ab7;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}

.list__description-text {
    display: none;
    padding: 10px;
}

.list__todo-done{
    color:red;
    text-decoration: line-through;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}