<header>

    <md-toolbar color="primary">
        <h1 class="header__title">my Todos</h1>
    </md-toolbar>

    <br>


    <div class="header__conteiner-component">
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Todo" [(ngModel)]="title">
        </md-input-container>

        <md-input-container class="example-full-width">
            <textarea mdInput placeholder="Description" [(ngModel)]="description"></textarea>
        </md-input-container>

        <div class="header__conteiner-button">
            <button md-fab (click)="createTodo ()"><md-icon>check</md-icon></button>
        </div>
    </div>


</header>